@use '../helpers/_variables.scss' as *;

html
    font-size: 16px
body 
    margin: 0
    width: 100%
    min-width: 320px
    min-height: 100vh
    line-height: 24px
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
    font-size: 16px
    font-weight: 400
    color: #3c3c43
    background-color: #ffffff
    font-synthesis: style
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

@media (min-width: 1440px)
    html
        font-size: $phone
